.main-background {
    background-image: url(/images/background.png);
    background-size: cover;
}
.main-menu-content {
    background-image: url(/images/menu_bg.png);
}
.header-content {
    background-image: url(/images/bg.jpg);
    color: rgba(32, 35, 217, 0.75);
}
.header-content div h1 {
	margin-top: 10px;
    font-size: 24pt;
}
.username h4 {
    color: #555;
}
.carousel-item > a img {
    margin: auto;
   	width: 100%;
    height: 150px;
}
table {
	font-size: 10pt;
}
#dropdown-language a img {
    height: 32px;
}
.nav-item .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#modal_wallet {
    font-weight: bold;
}
#model_amount {
    font-weight: bold;
}
#modal_wallet img {
    height: 25px;
    width: 25px;
}

.content-sticky.affix{
    position:fixed;
    bottom:65px;
    width:auto;
    margin-right: 15px;
}
